/*  sfc 组件内涉及element ui 的样式重写
------------------------------------------------ */
/// src\components\businessSelf\headerMenu\HeaderOption.vue
.header-option-popover {
  padding: 0 !important;
}

/// src\components\businessSelf\headerMenu\HeaderTabs.vue
.header-tabs .el-tabs__header {
  margin-bottom: 0px !important;
  width: 100%;
  height: 100%;
  padding: 0 10px;

  & .el-tabs__nav {
    border: none !important;
    line-height: 36px;
  }

  & .el-tabs__item:not(:first-child) {
    margin-left: 10px !important;
  }

  & .el-tabs__item {
    border: 1px solid var(--el-border-color-light) !important;
    height: 26px;
    line-height: 24px;
    border-radius: 2px;
    font-size: 12px;
    &:hover {
      border-color: var(--primary-color) !important;
      color: var(--primary-color) !important;
    }
    &.is-active {
      border-color: var(--primary-color) !important;
      background: var(--primary-color) !important;
      color: white !important;
    }
  }
}

/// src\views\DataTable\ListPipeline.vue 表格列设置弹窗样式
.table-column-tree {
  .el-tree-node__expand-icon {
    display: none;
  }

  .el-tree-node__content {
    height: 35px;
  }

  > div > .el-tree-node__content {
    border-bottom: 1px #e7e7e7 solid;
  }

  .el-tree__drop-indicator {
    display: none !important;
  }

  .custom-tree-node {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  & + .drag-line {
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    top: 82px;
    left: 10%;
    right: 6%;
    display: none;
  }
}

/*  element 主体颜色修改
------------------------------------------------ */
:root {
  --el-color-primary: var(--primary-color) !important;
}
