/*  sfc 组件内涉及element ui 的样式重写
------------------------------------------------ */
/// src\components\businessSelf\headerMenu\HeaderOption.vue
.header-option-popover {
  padding: 0 !important;
}

/// src\components\businessSelf\headerMenu\HeaderTabs.vue
.header-tabs .el-tabs__header {
  margin-bottom: 0px !important;
  width: 100%;
  height: 100%;
  padding: 0 10px;

  & .el-tabs__nav {
    border: none !important;
    line-height: 36px;
  }

  & .el-tabs__item:not(:first-child) {
    margin-left: 10px !important;
  }

  & .el-tabs__item {
    border: 1px solid var(--el-border-color-light) !important;
    height: 26px;
    line-height: 24px;
    border-radius: 2px;
    font-size: 12px;
    &:hover {
      border-color: var(--primary-color) !important;
      color: var(--primary-color) !important;
    }
    &.is-active {
      border-color: var(--primary-color) !important;
      background: var(--primary-color) !important;
      color: white !important;
    }
  }
}

/*  element 主体颜色修改
------------------------------------------------ */
:root {
  --el-color-primary: var(--primary-color) !important;
}
