/*  sfc 组件内涉及element ui 的样式重写
------------------------------------------------ */
/// src\components\businessSelf\headerMenu\HeaderMenu.vue
.header-menu-popover {
  padding-right: 0 !important;
  padding-left: 0 !important;
  min-width: 100px !important;
}

/// src\components\businessSelf\headerMenu\HeaderOption.vue
.header-option-popover {
  padding: 0 !important;
}
