body {
  width: 100vw;
  height: 100vh;
  background-color: #34495e;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 65px;
  height: 25px;
  border-radius: 999px;
  border: 1px solid #fff;
  margin-right: 10px;
}

.btn-box {
  margin-top:15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px;
  margin-top: 20px;
  border: 1px #fff solid;
}

