:root {
  //--primary-color: #5aa3ec; // 主题色
}
.color-red {
  color: crimson;
}

.color-white {
  color: #fff;
}

.primary-color {
  color: var(--primary-color);
}

.primary-bg-color {
  background-color: var(--primary-color) !important;
}
