.ft-s-12 {
  font-size: 12px;
}

.ft-s-13 {
  font-size: 13px;
}

.ft-s-14 {
  font-size: 14px;
}

.ft-s-15 {
  font-size: 15px;
}

.ft-s-16 {
  font-size: 16px;
}

.ft-s-18 {
  font-size: 18px;
}

.ft-s-20 {
  font-size: 20px;
}

.ft-w-4 {
  font-weight: 400;
}

.ft-w-5 {
  font-weight: 500;
}

.ft-w-6 {
  font-weight: 600;
}