.editor {
  width: 100%;
  height: 100%;
  &-left,
  &-right {
    position: absolute;
    width: 270px;
    top: 0;
    bottom: 0;
    background: antiquewhite;
  }
  &-left {
    left: 0;
  }
  &-right {
    right: 0;
  }
  &-top {
    position: absolute;
    top: 0;
    right: 280px;
    left: 280px;
    height: 80px;
    background: lightcyan;
  }
  &-container {
    position: absolute;
    top: 80px;
    right: 280px;
    left: 280px;
    bottom: 0;
    padding: 20px 0;
    &-box {
      width: 100%;
      height: 100%;
      overflow: scroll;
    }
    &-canvas {
      margin: 0 auto;
      background: honeydew;
      width: 1500px;
      height: 1000px;
    }
  }
}
